%p
  %span Answer 1
  = @survey.a1
  %br
  %span Answer 2
  = @survey.a2
  %br
  %span Answer 3
  = @survey.a3
  %br
  %span Answer 4
  = @survey.a4
  %br
  %span Answer 5
  = @survey.a5
  %br
  %span Answer 6
  = @survey.a6
  %br
  %span Answer 7
  = @survey.a7
  %br
  %span Answer 8
  = @survey.a8
  %br
  %span Answer 9
  = @survey.a9
  %br
  %span Answer 10
  = @survey.a10
